{% extends "bootstrap/bootstrap_boote.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block branding %}
Verfügbarkeit - Heute
{% endblock %}
 
{% block content %}


<h2>{{ date }}</h2>
<p>Heutige Verfügbarkeit der Verneinsboote. 
Falls keine Regatta (<b style='background: #FF5151;'>REG</b>) stattfindet oder Boote für die Ausbildung (<b style='background: #54f3ff;'>AUS</b>) reserviert sind, stehen die Boote zur freien Nutzung (<b style='background: #E4FF2E;'>PRV</b>) zur Verfügung.  
</p>
<TABLE id='boatslist'>
 <thead>
        <tr>
            <th style='width: 12%'>Boot</th>            
            
            <th class="date" colspan="2">08:00</th>
            <th class="date" colspan="2">09:00</th>
            <th class="date" colspan="2">10:00</th>
            <th class="date" colspan="2">11:00</th>
            <th class="date" colspan="2">12:00</th>
            <th class="date" colspan="2">13:00</th>
            <th class="date" colspan="2">14:00</th>
            <th class="date" colspan="2">15:00</th>
            <th class="date" colspan="2">16:00</th>
            <th class="date" colspan="2">17:00</th>
            <th class="date" colspan="2">18:00</th>
            <th class="date" colspan="2">19:00</th>
            <th class="date" colspan="2">20:00</th>
            <th class="date" colspan="2">21:00</th>            
         </tr>
 </thead>

{% for boat, overviewday in bookings %}
  <TR>
    <TD style="text-align: left;"><span class='tinyfont'>{{ boat.type.name }}</span><br><a href='/boote/boot/{{ boat.pk }}'><i class="fa fa-ship"></i>{{ boat.name }}</a></TD>   
    
    
    {% for userid, usertag, type in overviewday %}
    	{% if userid %}
      	<TD class='{{ type }}' title="{{ usertag }}"><i class="fa fa-lock" title="Mitglied: {{ user.first_name }} {{ user.last_name }}"><br><span class="tinyfont">{{ type }}</span></TD>
      	{% else %}
      	<TD class='booked0'>&nbsp</TD>
      	{% endif %}
    {% endfor %}
  </TR>
{% endfor %}
</TABLE>

{% endblock %}
